body{
    background-color: whitesmoke;
    color: rgb(20, 20, 20)26, 26);
    justify-content: center;
    margin-left: 15%;

}

table, th, td {
    border: 1px solid black;
  }

.tablecontainer{
    margin-left: 60%;
    margin-right: auto;
}

.tablebluebackground{
    background-color:lightsteelblue ;
}

.tablewhitebackground{
    background-color: white;
}

.tablegraybackground{
    background-color: lightgray;
}

.tableholder{
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}

.invisablecell{         /*voorcellen in de tabel die alleen de tekstmogenlaten zien en niet de cel*/
    border-color: #00000000;
    height: 25px;

}

.graysquare{
    background-color: lightgray;
}