body{
    background-color: whitesmoke;     /*Background color*/
    color: rgb(20, 20, 20);           /*Tekst color*/
    justify-content: center;            /*Centers the first element after the body*/
    margin-left: 15%;                   /*Adds margin to the left of the body*/
}

table, th, td {                         /*Defines the thickness and color of the borders of the table*/
    border: 1px solid black;
  }

.tablecontainer{                        /*Adds margin to he main containerto center it*/
    margin-left: 60%;
    margin-right: auto;
}

.tablebluebackground{                   /*Gives a lightsteelblue background*/
    background-color:lightsteelblue ;
}

.tablewhitebackground{                  /*Gives a white background*/
    background-color: white;
}

.tablegraybackground{                   /*Gives a lightgray background*/
    background-color: lightgray;
}

.tableholder{                           /*Gives a lightgray background and adds margin*/
    background-color: lightgray;
    margin-left: 10%;
    margin-right: 10%;
}

.invisablecell{                         /*Makes the cell invisable*/
    border-color: #00000000;
    height: 25px;

}

.onlyBottomBorder{                         /*Makes the cell invisable exept for the bottom border*/
    border-bottom: black;
    height: 25px;

}

.onlyTopBorder{                         /*Makes the cell invisable exept for the top border*/
    border-top: black;
    height: 25px;

}

.onlyLeftBorder{                         /*Makes the cell invisable exept for the left border*/
    border-left: black;
    height: 25px;

}

.onlyRightBorder{                         /*Makes the cell invisable exept for the right border*/
    border-bottom: #00000000;
    border-left: #00000000;
    border-right: black;
    border-top: #00000000;
    height: 25px;

}

.graysquare{                            /*Gives a gray background and gives a black border*/
    background-color: lightsteelblue;
    border-color: black;
}

.bottomdotted{                          /*Addsa dotted bottomline in the cell*/
    border-bottom: dotted;
}



.keuring{
    margin-left: 5%;
    margin-right: 5%;
    padding: auto;
}